/samples/generated/P15-001-native-multi-chapter-txt/source/** -text -diff
/samples/generated/P15-002-modern-multi-chapter-txt/source/** -text -diff
/samples/generated/P16-001-native-mixed-txt-bmp/source/** -text -diff
/samples/generated/P16-002-modern-mixed-txt-bmp/source/** -text -diff
